body {
    margin: 0;
    box-sizing: border-box;
}


/*menu*/

ul {
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    width: 100%;
    height: 7%;
    background-color: #F2E3D5;
    position: fixed;
    overflow: auto;
}

li {
    text-align: center;
    display: inline-block;
    width: 10%;
    padding: 5px 10px;
}

li a {
    display: block;
    color: #261303;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #eccaaa;
    color: #592C12;
}

.active {
    background-color: #613217;
    color: #ffff;
}

h1 {
    text-align: center;
}


/*Carta*/

.titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.negrita {
    font-weight: bold;
}

#cafe {
    float: right;
}

#postres {
    float: left;
}

#sandwiches {
    float: right;
}


/* contacto*/

.leftside,
.rightside {
    position: static;
    height: 50vh;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .leftside,
    .rightside {
        height: 100vh;
        width: 100%;
    }
}

.leftside {
    background: #f0ab6b;
}

.leftside:hover {
    background: #ebb786;
}

.rightside {
    background: #9b603d;
}

.rightside:hover {
    background: #bd815e;
}

#sec1 {
    height: 100vh;
    background-color: #eccaaa;
}

#sec2 {
    height: 100vh;
    background-color: #613217;
}